<div class="d-flex-column ">
<button class="btn" routerLink="dashboard"  routerLinkActive="class1">  <i data-feather="airplay" class="p-1"></i> Dashboard</button>
<button class="btn "  routerLink="create-project" routerLinkActive="class1"> <i data-feather="folder-plus" class="p-1"></i> Create Project</button>
<button class="btn "routerLink="find-resource" routerLinkActive="class1"> <i data-feather="user" class="p-1"></i> Find Resources</button>

<div class="d-flex align-items-center  logout">
  <!-- <img src="assets/images/profile.svg"  alt="profile svg" class="svg "/> -->
  <i data-feather="log-out" class="p-1"></i>
  <a class="link" routerLink="" href="javascriptvoid(0)" role="button">
    Logout
  </a>
</div>
  </div>



<!--
<div class="d-flex-column ">
  <div class="d-flex align-items-center my-3">
    <img src="assets/images/dashboard.svg"  alt="profile svg" class="svg "/>
    <i data-feather="airplay" class="p-1"></i>
    <a class="link" href="javascriptvoid(0)" role="button">
      Dashboard</a>
  </div>
  
  <div class="d-flex align-items-center my-3"routerLink="create-project">
    <img src="assets/images/folder.svg"  alt="profile svg" class="svg "/>
    <i data-feather="folder-plus" class="p-1"></i>
    <a class="link" routerLink="create-project" role="button">
      Create Project
    </a>
  </div>
  
  <div class="d-flex align-items-center my-3" >
    <img src="assets/images/profile.svg"  alt="profile svg" class="svg "/>
    <i data-feather="user" class="p-1"></i>
    <a class="link" href="javascriptvoid(0)" role="button">
      Find Resources
    </a>
  </div>
  
  <div class="d-flex align-items-center  logout">
    <img src="assets/images/profile.svg"  alt="profile svg" class="svg "/>
    <i data-feather="log-out" class="p-1"></i>
    <a class="link" href="javascriptvoid(0)" role="button">
      Log Out
    </a>
  </div>
  </div>
  -->