<h6>Find Resources </h6>

<app-resource-table></app-resource-table>

<!-- <form>
  <div>
    <label for="email">Email:</label>
    <input type="email" [(ngModel)]="email" name="email" id="email">
  </div>
  <div>
    <label for="username">Username:</label>
    <input type="text" [(ngModel)]="username" name="username" id="username">
  </div>
  <button (click)="addUser()">Add User</button>
</form>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user?.email }}</td>
      <td>{{ user?.username }}</td>
    </tr>
  </tbody>
</table> -->
